name: Validate dbt changes

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/validate-dbt-changes.yaml
      - macros/**
      - models/**
      - seeds/**
      - snapshots/**
      - dbt_project.yml
      - packages.yml

env:
  DBT_PROFILES_DIR: integration_tests/
  SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
  # PROD profile env vars
  SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
  SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
  SNOWFLAKE_DATABASE: FO_RAW_DB
  SNOWFLAKE_SCHEMA: PROD
  SNOWFLAKE_ROLE: DBT_ROLE
  SNOWFLAKE_WAREHOUSE: DBT_CI_WH_XS
  # CI profile env vars
  SNOWFLAKE_USER_CI: ${{ secrets.SNOWFLAKE_USER_CI }}
  SNOWFLAKE_PASSWORD_CI: ${{ secrets.SNOWFLAKE_PASSWORD_CI }}
  SNOWFLAKE_DATABASE_CI: FO_RAW_DB
  SNOWFLAKE_SCHEMA_CI: DBT_CI_${{ github.event.number }}  # Create a unique schema for each PR
  SNOWFLAKE_ROLE_CI: DBT_ROLE
  SNOWFLAKE_WAREHOUSE_CI: DBT_CI_WH_XS

jobs:
  validate-dbt-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with: {python-version: "3.11"}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          dbt deps --profile integration_tests --target ci

      # Validate project configuration
      - name: Validate dbt project
        run: >
          dbt parse
          --warn-error
          --profile integration_tests
          --target ci
      - name: Store dbt packages
        uses: actions/upload-artifact@v4
        with: &dbt-packages
          name: dbt_packages
          path: dbt_packages/
      - name: Store development artifacts
        uses: actions/upload-artifact@v4
        with: &dev-artifacts
          name: target
          path: target/

      # Generate production artifacts
      - name: Checkout main branch
        uses: actions/checkout@v6
        with: {ref: main}
      - name: Retrieve dbt packages
        uses: actions/download-artifact@v4
        with: *dbt-packages
      - name: Generate production artifacts
        run: >
          dbt parse
          --profile integration_tests
          --target prod
          --target-path prod-artifacts/
      - name: Store production artifacts
        uses: actions/upload-artifact@v4
        with: &prod-artifacts
          name: prod-artifacts
          path: prod-artifacts/

      # Run slim CI
      - name: Checkout feature branch
        uses: actions/checkout@v6
      - name: Retrieve development artifacts
        uses: actions/download-artifact@v4
        with: *dev-artifacts
      - name: Retrieve production artifacts
        uses: actions/download-artifact@v4
        with: *prod-artifacts
      - name: Retrieve dbt packages
        uses: actions/download-artifact@v4
        with: *dbt-packages
      - name: List modified models
        run: >
          dbt list
          --resource-type model
          --select state:modified+
          --state prod-artifacts/
          --profile integration_tests
          --target ci
      - name: Initialise Elementary
        run: >
          dbt run
          --select elementary
          --profile integration_tests
          --target ci
      - name: dbt build (full refresh)
        run: >
          dbt build
          --select state:modified+
          --defer --state prod-artifacts/ --favor-state
          --indirect-selection cautious
          --profile integration_tests
          --target ci
          --full-refresh
      - name: dbt build (incremental)
        run: >
          dbt build
          --select state:modified+
          --defer --state prod-artifacts/ --favor-state
          --indirect-selection cautious
          --profile integration_tests
          --target ci
