name: Validate dbt changes

on:
  - workflow_dispatch
  - pull_request

jobs:
  validate-dbt-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with: {python-version: "3.11"}
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Validate dbt project
        run: >
          dbt deps

          dbt parse
          --warn-error
          --profiles-dir integration_tests/
          --profile integration_tests
          --target snowflake
